* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	color: #222222;
	line-height: 1.3;
	background-color: #000;
}

header {
	background-color: #00a3ca;
	height: 70px;
	width: 100%;
	padding: 20px;
	position: fixed;
}

.logobg {
	background: url(../images/agency-hero1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 800px;
	-webkit-transition: all ease;
	-0-transition: all ease;
	-moz-transition: all ease;
	transition: all ease;
}

.discover {
	background-color: #e8674f;
	border-radius: .25em;
	color: white;
	letter-spacing: 1.5px;
	padding: .5em 1em;
	text-align: center;
	font-size: 2em;
	display: inline-block;
	margin-top: 1em;
	margin-left: 16em;
}

.discover:hover {
    background-color: #00a3ca;  
    color: white;
}

#slogan {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float: center;
}

.bilineblock {
	background-color: #e8674f;
	width: 100%;
	height: 200px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover, a:active {
	color: #e8e4e4;
}

nav {
	float: right;
	margin-top: 5px;
}

nav a {
	color: #fff;
	display: inline-block;
	padding: 8px;
}

video {
	width: 100%;
	height: auto;
}

ul {
	padding: 20px;
}

h1 {
	color: #FFEFE5;
	text-align: center;
	font-size: 28px;
	padding-top: 55px;
	width: 100%;
}

h2 {
	color: #fff;
	text-align: center;
	font-size: 42px;
	padding-top: 250px;
}

h3 {
	color: #ffffff;
	font-size: 20px;
	text-align: left;
}

h4 {
	color: #ffffff;
	font-size: 16px;
}

h5 {
	color: white;
	font-size: 14px;

}

h6 {
	color: #ffffff;
	text-align: center;
	font-size: 10px;
}

address {
	color: white;
	font-size: 14px;
}

span {
	background: rgba(0,163,202,0.8);
	display: inline-block;
	padding: 1em;
	border-radius: .25em;
}

main {
	background-color: #000000;
	overflow: hidden;
	width: 1200px;
	margin: auto;
}

main section {
	padding-top: 20px;
	float: left;
	width: 33.33%;
}

footer {
	background-color: #e8674f;
	padding: 20px;
	text-align: center;
}
